[flake8]
max-line-length = 100
extend-ignore = E203, E402, E501, E741, F821, W503, F811, F841, F402, F541
exclude = .git,__pycache__,build,dist,venv,.backup,scripts
per-file-ignores =
    */__init__.py:F401
    skills/*:F401,E712
    examples/*:F401
    sdk/*:F401,W191,E101,E712
    jotty.py:F401
    web.py:F401
